<h2>{{ pageTitle }}</h2>
<!--<a class="btn btn-default" ng-click="getBoards()" ng-disabled="searching" role="button">Get Boards</a>-->
<div ng-repeat="organization in organizations">
    <h3>{{ organization.profile.displayName }}</h3>
    <p ng-show="!organization.done">Cargando boards...</p>
    <table class="table table-bordered table-striped" ng-show="organization.done">
        <thead>
            <tr>
            <td>
                  <span ng-click="sortBy('projectId')" role="button">Id</span>
                  <span class="glyphicon" ng-show="propertyName === 'projectId'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
              </td>
              <td>
                  <span ng-click="sortBy('client')" role="button">Client</span>
                  <span class="glyphicon" ng-show="propertyName === 'client'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
              </td>
               <td>
                  <span ng-click="sortBy('projectName')" role="button">Project</span>
                  <span class="glyphicon" ng-show="propertyName === 'projectName'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
              </td>
               <td>
                  <span ng-click="sortBy('points')" role="button">Diff</span>
                  <a title="Differencia entre los puntos estimados y el total de las listas comerciales. Signo positivo significa que faltan tarjetas" data-toggle="tooltip" data-placement="top" tooltip><i role="button" class="glyphicon glyphicon-question-sign"></i></a>

                  <span class="glyphicon" ng-show="propertyName === 'points'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
              </td>
              <td>
                  Tarjetas sin padre
              </td>
              <td>
                  Tarjetas sin hijos
              </td>
             
            </tr>
            
        </thead>
        <tbody>
          <tr>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope"type="text" ng-model="filter.projectId" /></td>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.client" /></td>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.projectName" /></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          <tr ng-repeat="board in organization.boards | filter:filter | orderBy:propertyName:reverse" ng-show="!board.closed">
            <td>{{ board.projectId }}</td>
            <td>{{ board.client }}</td>
            <td>{{ board.projectName }} <a href="{{ board.url }}" target="_blank"><i class="glyphicon glyphicon-link" ></i></a></td>
            <td>{{ board.points - board.progress.total }}</td>
            <td><a style="cursor: pointer;" data-toggle="modal" data-target="#myModal" ng-click="setCurrentBoard(board)" >{{ board.cardsMissingParent.length }}</a></td>
            <td><a style="cursor: pointer;" data-toggle="modal" data-target="#myModalChildren" ng-click="setCurrentBoard(board)" >{{ board.cardsMissingChildren.length }}</a></td>
          </tr>
        </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{currentBoard.name}}</h4>
      </div>
      <div class="modal-body">
        <ul >
            <li ng-repeat="card in currentBoard.cardsMissingParent">
                <a href="{{ card.url }}" target="_blank">{{ card.name }}</a>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalChildren" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{currentBoard.name}}</h4>
      </div>
      <div class="modal-body">
        <ul >
            <li ng-repeat="card in currentBoard.cardsMissingChildren">
                <a href="{{ card.url }}" target="_blank">{{ card.name }}</a>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>