<h2>Organizaciones</h2>
<!--<a class="btn btn-default" ng-click="getBoards()" ng-disabled="searching" role="button">Get Boards</a>-->
<div ng-repeat="organization in organizations">
    <h3>{{ organization.profile.displayName }}</h3>
    <p ng-show="!organization.done">Cargando boards...</p>
    <table class="table table-bordered table-striped" ng-show="organization.done">
        <thead>
            <tr>
                <td>
                    Board
                </td>
                <td>
                    Tarjetas sin padre
                </td>
                
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="board in organization.boards" ng-show="!board.closed">
            <td><a href="{{ board.url }}" target="_blank">{{ board.name }}</a></td>
            <td><a href="#myModal" data-toggle="modal" data-target="#myModal" ng-click="setCurrentBoard(board)"v >{{ board.cardsMissingParent.length }}</a></td>
          </tr>
        </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{currentBoard.name}}</h4>
      </div>
      <div class="modal-body">
        <ul >
            <li ng-repeat="card in currentBoard.cardsMissingParent">
                <a href="{{ card.url }}" target="_blank">{{ card.name }}</a>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>