<h2>{{ pageTitle }}</h2>
<!--<a class="btn btn-default" ng-click="getBoards()" ng-disabled="searching" role="button">Get Boards</a>-->
<div ng-repeat="organization in organizations">
    <h3>{{ organization.profile.displayName }}</h3>
    <p ng-show="!organization.done">Cargando boards...</p>
    <table class="table table-bordered table-striped" ng-show="organization.done">
        <thead>
            <tr>
                <td>
                    <span ng-click="sortBy('projectId')" role="button">Id</span>
                    <span class="glyphicon" ng-show="propertyName === 'projectId'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
                </td>
                <td>
                    <span ng-click="sortBy('client')" role="button">Client</span>
                    <span class="glyphicon" ng-show="propertyName === 'client'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
                </td>
                 <td>
                    <span ng-click="sortBy('projectName')" role="button">Project</span>
                    <span class="glyphicon" ng-show="propertyName === 'projectName'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
                </td>
                 <td>
                    <span ng-click="sortBy('points')" role="button">Estimate</span>
                    <span class="glyphicon" ng-show="propertyName === 'points'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
                </td>
                <td>
                    <span ng-click="sortBy('progress.toDo')" role="button">Comercial</span>
                    <span class="glyphicon" ng-show="propertyName === 'progress.toDo'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
                </td>
                <td>
                    <span ng-click="sortBy('progress.done')" role="button">Comercial Done</span>
                    <span class="glyphicon" ng-show="propertyName === 'progress.done'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
                </td>
                <td>
                    <span ng-click="sortBy('progress.index')" role="button">Progress</span>
                    <span class="glyphicon" ng-show="propertyName === 'progress.index'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
                </td> 
                <td>
                    <span ng-click="sortBy('bugCount')" role="button">Bugs</span>
                    <span class="glyphicon" ng-show="propertyName === 'bugCount'" ng-class="{'glyphicon-chevron-down': reverse, 'glyphicon-chevron-up': !reverse }"></span>
                </td>     
            </tr>

        </thead>
        <tbody>
            <tr>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope"type="text" ng-model="filter.projectId" /></td>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.client" /></td>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.projectName" /></td>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.points" /></td>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.progress.toDo" /></td>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.progress.done" /></td> 
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.progress.index" /></td>
                <td><input ng-keyup="onKeyup($event)" class="form-control ng-pristine ng-untouched ng-valid ng-scope" type="text" ng-model="filter.bugCount" /></td> 
            </tr>
          <tr ng-repeat="board in organization.boards | filter:filter | orderBy:propertyName:reverse" ng-show="!board.closed">
            <td>{{ board.projectId }}</td>
            <td>{{ board.client }}</td>
            <td>{{ board.projectName }} <a href="{{ board.url }}" target="_blank"><i role="button" class="glyphicon glyphicon-link" ></i></a></td>
            <td>{{ board.points }}</td>
            <td>{{ board.progress.toDo }}</td>
            <td>{{ board.progress.done }}</td>
            <td>{{ board.progress.index | percentage:2 }}</td>
            <td>{{ board.bugCount }}</td>
          </tr>
        </tbody>
  </table>
</div>

</div>