<h2>{{ pageTitle }}</h2>
<!--<a class="btn btn-default" ng-click="getBoards()" ng-disabled="searching" role="button">Get Boards</a>-->
<div ng-repeat="organization in organizations">
    <h3>{{ organization.profile.displayName }}</h3>
    <p ng-show="!organization.done">Cargando boards...</p>
    <table class="table table-bordered table-striped" ng-show="organization.done">
        <thead>
            <tr>
                <td>
                    Project
                </td>
                <td>
                    Board
                </td>
                
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="board in organization.boards" ng-show="!board.closed">
            <td>{{ board.name }}</td>
            <td><a href="{{ board.url }}" target="_blank">{{ board.url }}</a></td>
          </tr>
        </tbody>
  </table>
</div>

</div>