<h2>{{ pageTitle }}</h2>
<!--<a class="btn btn-default" ng-click="getBoards()" ng-disabled="searching" role="button">Get Boards</a>-->
<div ng-repeat="organization in organizations">
    <h3>{{ organization.profile.displayName }}</h3>
    <p ng-show="!organization.done">Cargando boards...</p>
    <table class="table table-bordered table-striped" ng-show="organization.done">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Client
                </td>
                <td>
                    Project
                </td>
                <td>
                    Estimate
                </td> 
                <td>
                    Comercial
                </td>
                <td>
                    Comercial Done
                </td>  
                <td>
                    Progress
                </td>    
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="board in organization.boards" ng-show="!board.closed">
            <td>{{ board.projectId }}</td>
            <td>{{ board.client }}</td>
            <td>{{ board.projectName }} <a href="{{ board.url }}" target="_blank"><i role="button" class="glyphicon glyphicon-link" ></i></a></td>
            <td>{{ board.points }}</td>
            <td>{{ board.progress.toDo }}</td>
            <td>{{ board.progress.done }}</td>
            <td>{{ board.progress.index | percentage:2 }}</td>
          </tr>
        </tbody>
  </table>
</div>

</div>